<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thebug_zoo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheBug_Zoo.NoActionBar">
        <activity
            android:name=".pages.FamilyView"
            android:label="@string/title_activity_family_view"
            android:theme="@style/Theme.TheBug_Zoo.NoActionBar.NoActionBar"></activity>
        <activity android:name=".pages.InfAdicionais" />
        <activity
            android:name=".pages.OrderView"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".pages.DrawerMenu"
            android:label="@string/title_activity_drawer_menu"
            android:theme="@style/Theme.TheBug_Zoo.NoActionBar" />
        <activity
            android:name=".pages.HomeView"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.TheBug_Zoo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>