<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thebug_zoo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:installLocation="internalOnly"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.TheBug_Zoo.NoActionBar"
        android:allowBackup="true">
        <activity
            android:name=".pages.ImmersionView"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="landscape"
        />
        <activity android:name=".MainActivity" />
        <activity android:name=".pages.FiloView" />
        <activity android:name=".pages.AllFamilys" />
        <activity android:name=".pages.AllOrders" />
        <activity android:name=".pages.CollectionView" />
        <activity android:name=".pages.EducationView" />
        <activity android:name=".pages.SpeciesView" />
        <activity
            android:name=".pages.FamilyView"
            android:label="@string/title_activity_family_view"
            android:theme="@style/Theme.TheBug_Zoo.NoActionBar.NoActionBar" />
        <activity android:name=".pages.InfAdicionais" />
        <activity
            android:name=".pages.OrderView"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".pages.HomeView"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.TheBug_Zoo.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>